<?xml version="1.0"?>
<!--
/**
 * This file is part of Goodahead_Etm extension
 *
 * This extension allows to create and manage custom EAV entity types
 * and EAV entities
 *
 * Copyright (C) 2014 Goodahead Ltd. (http://www.goodahead.com)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * and GNU General Public License along with this program.
 * If not, see <http://www.gnu.org/licenses/>.
 *
 * @category   Goodahead
 * @package    Goodahead_Etm
 * @copyright  Copyright (c) 2014 Goodahead Ltd. (http://www.goodahead.com)
 * @license    http://www.gnu.org/licenses/lgpl-3.0-standalone.html GNU Lesser General Public License
 */
-->
<config>
    <modules>
        <Goodahead_Etm>
            <version>1.0.2</version>
        </Goodahead_Etm>
    </modules>
    <global>
        <models>
            <goodahead_etm>
                <class>Goodahead_Etm_Model</class>
                <resourceModel>goodahead_etm_resource</resourceModel>
            </goodahead_etm>
            <goodahead_etm_resource>
                <class>Goodahead_Etm_Model_Resource</class>
                <entities>
                    <entity>
                        <table>goodahead_etm_entity</table>
                    </entity>
                    <eav_entity_type>
                        <table>goodahead_etm_eav_entity_type</table>
                    </eav_entity_type>
                    <eav_attribute>
                        <table>goodahead_etm_eav_attribute</table>
                    </eav_attribute>
                </entities>
            </goodahead_etm_resource>
        </models>
        <helpers>
            <goodahead_etm>
                <class>Goodahead_Etm_Helper</class>
            </goodahead_etm>
        </helpers>
        <resources>
            <goodahead_etm_setup>
                <setup>
                    <module>Goodahead_Etm</module>
                    <class>Goodahead_Etm_Model_Resource_Entity_Setup</class>
                </setup>
            </goodahead_etm_setup>
        </resources>
        <blocks>
            <goodahead_etm>
                <class>Goodahead_Etm_Block</class>
            </goodahead_etm>
        </blocks>
        <goodahead>
            <etm>
                <entity>
                    <attribute>
                        <input_type_map>
                            <multiselect>
                                <backend_model>eav/entity_attribute_backend_array</backend_model>
                                <source_model>eav/entity_attribute_source_table</source_model>
                            </multiselect>
                            <select>
                                <source_model>eav/entity_attribute_source_table</source_model>
                            </select>
                            <boolean>
                                <source_model>eav/entity_attribute_source_boolean</source_model>
                            </boolean>
                            <image>
                                <backend_model>goodahead_etm/entity_attribute_backend_image</backend_model>
                                <frontend_model>goodahead_etm/entity_attribute_frontend_image</frontend_model>
                            </image>
                            <date>
                                <backend_model>eav/entity_attribute_backend_datetime</backend_model>
                                <frontend_model>eav/entity_attribute_frontend_datetime</frontend_model>
                            </date>
                        </input_type_map>
                    </attribute>
                </entity>
            </etm>
        </goodahead>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Goodahead_Etm after="Mage_Adminhtml">Goodahead_Etm_Adminhtml</Goodahead_Etm>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <goodahead_etm>
                    <file>goodahead/etm.xml</file>
                </goodahead_etm>
            </updates>
        </layout>
        <translate>
            <modules>
                <Goodahead_Etm>
                    <files>
                        <default>Goodahead/Adminhtml/Etm.csv</default>
                    </files>
                </Goodahead_Etm>
            </modules>
        </translate>
        <events>
            <adminhtml_catalog_product_attribute_edit_prepare_form>
                <observers>
                    <goodahead_etm_add_additional_fields>
                        <class>goodahead_etm/observer</class>
                        <method>adminhtmlCatalogProductAttributeEditPrepareForm</method>
                    </goodahead_etm_add_additional_fields>
                </observers>
            </adminhtml_catalog_product_attribute_edit_prepare_form>
            <controller_action_predispatch_adminhtml_catalog_product_attribute_save>
                <observers>
                    <goodahead_etm_predispatch_attribute_save>
                        <class>goodahead_etm/observer</class>
                        <method>catalogProductAttributeSavePredispatch</method>
                    </goodahead_etm_predispatch_attribute_save>
                </observers>
            </controller_action_predispatch_adminhtml_catalog_product_attribute_save>
            <catalog_entity_attribute_save_before>
                <observers>
                    <goodahead_etm_assign_entity_type>
                        <class>goodahead_etm/observer</class>
                        <method>catalogEntityAttributeSaveBefore</method>
                    </goodahead_etm_assign_entity_type>
                </observers>
            </catalog_entity_attribute_save_before>
            <catalog_entity_attribute_save_after>
                <observers>
                    <goodahead_etm_assign_entity_type>
                        <class>goodahead_etm/observer</class>
                        <method>catalogEntityAttributeSaveAfter</method>
                    </goodahead_etm_assign_entity_type>
                </observers>
            </catalog_entity_attribute_save_after>
            <catalog_entity_attribute_load_after>
                <observers>
                    <goodahead_etm_assign_entity_type>
                        <class>goodahead_etm/observer</class>
                        <method>catalogEntityAttributeLoadAfter</method>
                    </goodahead_etm_assign_entity_type>
                </observers>
            </catalog_entity_attribute_load_after>
            <catalog_helper_output_construct>
                <observers>
                    <add_handler_to_catalog_output_helper>
                        <class>goodahead_etm/observer</class>
                        <method>addHandlerToCatalogOutputHelper</method>
                    </add_handler_to_catalog_output_helper>
                </observers>
            </catalog_helper_output_construct>
            <cms_wysiwyg_config_prepare>
                <observers>
                    <goodahead_etm_variable_observer>
                        <class>goodahead_etm/observer</class>
                        <method>prepareWysiwygPluginVariables</method>
                    </goodahead_etm_variable_observer>
                </observers>
            </cms_wysiwyg_config_prepare>
            <goodahead_core_wysiwyg_plugin_action_response_before>
                <observers>
                    <goodahead_etm_variable_wysiwyg_action_addon>
                        <class>goodahead_etm/observer</class>
                        <method>wysiwygPluginActionResponse</method>
                    </goodahead_etm_variable_wysiwyg_action_addon>
                </observers>
            </goodahead_core_wysiwyg_plugin_action_response_before>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <etm>
                <use>standard</use>
                <args>
                    <module>Goodahead_Etm</module>
                    <frontName>etm</frontName>
                </args>
            </etm>
        </routers>
        <layout>
            <updates>
                <goodahead_etm>
                    <file>goodahead/etm.xml</file>
                </goodahead_etm>
            </updates>
        </layout>
        <translate>
            <modules>
                <Goodahead_Etm>
                    <files>
                        <default>Goodahead/Etm.csv</default>
                    </files>
                </Goodahead_Etm>
            </modules>
        </translate>
        <events>
            <catalog_helper_output_construct>
                <observers>
                    <add_handler_to_catalog_output_helper>
                        <class>goodahead_etm/observer</class>
                        <method>addHandlerToCatalogOutputHelper</method>
                    </add_handler_to_catalog_output_helper>
                </observers>
            </catalog_helper_output_construct>
        </events>
    </frontend>
</config>
