<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Goodahead_EtmPro>
            <version>1.0.0</version>
        </Goodahead_EtmPro>
    </modules>
    <global>
        <blocks>
            <goodahead_etmpro>
                <class>Goodahead_EtmPro_Block</class>
            </goodahead_etmpro>
        </blocks>
        <models>
            <goodahead_etmpro>
                <class>Goodahead_EtmPro_Model</class>
            </goodahead_etmpro>
        </models>
        <resources>
            <goodahead_etmpro_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </goodahead_etmpro_write>
            <goodahead_etmpro_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </goodahead_etmpro_read>
            <goodahead_etmpro_setup>
                <setup>
                    <module>Goodahead_EtmPro</module>
                    <class>Goodahead_Etm_Model_Resource_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </goodahead_etmpro_setup>
        </resources>
        <helpers>
            <goodahead_etmpro>
                <class>Goodahead_EtmPro_Helper</class>
            </goodahead_etmpro>
        </helpers>
    </global>
    <admin>
         <routers>
             <adminhtml>
                 <args>
                     <modules>
                         <goodahead_etmpro after="Mage_Adminhtml">Goodahead_EtmPro_Adminhtml</goodahead_etmpro>
                     </modules>
                 </args>
             </adminhtml>
         </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <goodahead_etmpro>
                    <file>goodahead/etm_pro.xml</file>
                </goodahead_etmpro>
            </updates>
        </layout>
    </adminhtml>
</config>