<?xml version="1.0"?>
<config>
    <modules>
        <Goodahead_Etm>
            <version>1.0.0.0</version>
        </Goodahead_Etm>
    </modules>
    <global>
        <models>
            <goodahead_etm>
                <class>Goodahead_Etm_Model</class>
                <resourceModel>goodahead_etm_resource</resourceModel>
            </goodahead_etm>
            <goodahead_etm_resource>
                <class>Goodahead_Etm_Model_Resource</class>
                <entities>
                    <eav>
                        <table>goodahead_etm_eav</table>
                    </eav>
                </entities>
            </goodahead_etm_resource>
        </models>
        <helpers>
            <goodahead_etm>
                <class>Goodahead_Etm_Helper</class>
            </goodahead_etm>
        </helpers>
        <resources>
            <goodahead_etm_setup>
                <setup>
                    <module>Goodahead_Etm</module>
                    <class>Goodahead_Etm_Model_Entity_Setup</class>
                </setup>
            </goodahead_etm_setup>
        </resources>
        <blocks>
            <goodahead_etm>
                <class>Goodahead_Etm_Block</class>
            </goodahead_etm>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <importexport before="Mage_Adminhtml">Goodahead_Etm_Adminhtml</importexport>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <goodahead_etm>
                    <file>goodahead_etm/goodahead_etm.xml</file>
                </goodahead_etm>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <etm>
                <use>standard</use>
                <args>
                    <module>Goodahead_Etm</module>
                    <frontName>etm</frontName>
                </args>
            </etm>
        </routers>
        <layout>
            <updates>
                <goodahead_etm>
                    <file>goodahead_etm/goodahead_etm.xml</file>
                </goodahead_etm>
            </updates>
        </layout>
    </frontend>
</config>
