<?xml version="1.0"?>
<config>
    <modules>
        <Goodahead_Etm>
            <version>1.0.0.0</version>
        </Goodahead_Etm>
    </modules>
    <global>
        <models>
            <goodahead_etm>
                <class>Goodahead_Etm_Model</class>
                <resourceModel>goodahead_etm_resource</resourceModel>
            </goodahead_etm>
            <goodahead_etm_resource>
                <class>Goodahead_Etm_Model_Resource</class>
                <entities>
                    <entity>
                        <table>goodahead_etm_entity</table>
                    </entity>
                    <eav_entity_type>
                        <table>goodahead_etm_eav_entity_type</table>
                    </eav_entity_type>
                    <eav_attribute>
                        <table>goodahead_etm_eav_attribute</table>
                    </eav_attribute>
                </entities>
            </goodahead_etm_resource>
        </models>
        <helpers>
            <goodahead_etm>
                <class>Goodahead_Etm_Helper</class>
            </goodahead_etm>
        </helpers>
        <resources>
            <goodahead_etm_setup>
                <setup>
                    <module>Goodahead_Etm</module>
                    <class>Goodahead_Etm_Model_Resource_Entity_Setup</class>
                </setup>
            </goodahead_etm_setup>
        </resources>
        <blocks>
            <goodahead_etm>
                <class>Goodahead_Etm_Block</class>
            </goodahead_etm>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Goodahead_Etm before="Mage_Adminhtml">Goodahead_Etm_Adminhtml</Goodahead_Etm>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <goodahead_etm>
                    <file>goodahead_etm/goodahead_etm.xml</file>
                </goodahead_etm>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_adminhtml>
                <observers>
                    <goodahead_etm_render_menu>
                        <class>goodahead_etm/observer</class>
                        <method>renderMenu</method>
                    </goodahead_etm_render_menu>
                </observers>
            </controller_action_predispatch_adminhtml>
            <core_layout_block_create_after>
                <observers>
                    <goodahead_etm_render_menu>
                        <class>goodahead_etm/observer</class>
                        <method>updateMenuBlockCacheId</method>
                    </goodahead_etm_render_menu>
                </observers>
            </core_layout_block_create_after>
            <adminhtml_catalog_product_attribute_edit_prepare_form>
                <observers>
                    <goodahead_etm_add_additional_fields>
                        <class>goodahead_etm/observer</class>
                        <method>adminhtmlCatalogProductAttributeEditPrepareForm</method>
                    </goodahead_etm_add_additional_fields>
                </observers>
            </adminhtml_catalog_product_attribute_edit_prepare_form>
            <controller_action_predispatch_adminhtml_catalog_product_attribute_save>
                <observers>
                    <goodahead_etm_predispatch_attribute_save>
                        <class>goodahead_etm/observer</class>
                        <method>catalogProductAttributeSavePredispatch</method>
                    </goodahead_etm_predispatch_attribute_save>
                </observers>
            </controller_action_predispatch_adminhtml_catalog_product_attribute_save>
            <catalog_entity_attribute_save_before>
                <observers>
                    <goodahead_etm_assign_entity_type>
                        <class>goodahead_etm/observer</class>
                        <method>catalogEntityAttributeSaveBefore</method>
                    </goodahead_etm_assign_entity_type>
                </observers>
            </catalog_entity_attribute_save_before>
            <catalog_entity_attribute_save_after>
                <observers>
                    <goodahead_etm_assign_entity_type>
                        <class>goodahead_etm/observer</class>
                        <method>catalogEntityAttributeSaveAfter</method>
                    </goodahead_etm_assign_entity_type>
                </observers>
            </catalog_entity_attribute_save_after>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <etm>
                <use>standard</use>
                <args>
                    <module>Goodahead_Etm</module>
                    <frontName>etm</frontName>
                </args>
            </etm>
        </routers>
        <layout>
            <updates>
                <goodahead_etm>
                    <file>goodahead_etm/goodahead_etm.xml</file>
                </goodahead_etm>
            </updates>
        </layout>
    </frontend>
</config>
